<aside class="lnb icon on">
				<div class="icon_menu_wrap">
					<nav>
						<ul>
							<li><img id="lnbMenu_btn" src="imgs/main/lnbMenu_00.png" />
							</li>
							<li><img src="imgs/main/lnbMenu_02.png" /></li>
						</ul>
					</nav>
				</div>
			</aside>

			<aside class="lnb all">
				<section>
					<nav>
						<ul>
							<li><img id="lnbMenu_btnIcon"
								src="imgs/main/lnbMenu_wide00.png" /></li>
							<li class="def"><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m00_on.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m01_on.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m02_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m03_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m04_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m05_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m06_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m07_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m08_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m09_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m10_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m11_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m12_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m13_off.png" />
							</a></li>
							<li><a href="javascript:void(0)"> <img
									src="imgs/main/lnb_m14_off.png" />
							</a></li>
						</ul>
					</nav>
				</section>
			</aside>

			<aside class="sub01 sb_menu">
				<section>
					<nav>
						<ul>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s01_off.png" />
							</a></li>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s02_off.png" />
							</a></li>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s03_off.png" />
							</a></li>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s04_off.png" />
							</a></li>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s05_off.png" />
							</a></li>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s06_off.png" />
							</a></li>
						</ul>
					</nav>
				</section>
			</aside>
			<aside class="sub02 sb_menu">
				<section>
					<nav>
						<ul>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s02_01_off.png" />
							</a></li>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s02_02_off.png" />
							</a></li>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s02_03_off.png" />
							</a></li>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s02_04_off.png" />
							</a></li>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s02_05_off.png" />
							</a></li>
							<li><a href="javascript:void(0);"> <img
									src="imgs/main/lnb_menu_s02_06_off.png" />
							</a></li>
						</ul>
					</nav>
				</section>
			</aside>

		</div>
		<footer class="footer">
			<div class="pageNav">
				<img class="btn_temp" src="imgs/main/btn_arrowLeft.png" /> <img
					src="imgs/main/btn_arrowRight.png" />
			</div>
			<nav>
				<ul>
					<li><a href="main01_01.asp"> <img
							src="imgs/main/icon_document_01_01_on.png" />
					</a></li>
					<li><a href="main01_02.asp"> <img
							src="imgs/main/icon_document_01_02_off.png" />
					</a></li>
					<li><a href="main01_03.asp"> <img
							src="imgs/main/icon_document_01_03_off.png" />
					</a></li>
				</ul>
			</nav>
			<div class="recently">
				<img src="imgs/main/icon_document_recently.png" />
			</div>
		</footer>
		<!--end of footer-->
	</div>

	<div class="speech_default_wrap">
		<div class="speech_default"></div>
	</div>
	<div class="speech_wrap01">
		<div class="speech">
			<textarea class="speechTxt01" /></textarea>
			<span class="speechMic inTxt01"></span> <span class="speechEnter01"></span>
			<span class="speechCancel"></span>
		</div>
	</div>
	<div class="speech_wrap02">
		<div class="speech">
			<textarea class="speechTxt02" /></textarea>
			<span class="speechMic inTxt02"></span> <span class="speechEnter02"></span>
			<span class="speechCancel"></span>
		</div>
	</div>

	<div class="ocr_wrap">
		<div class="ocr">
			<div class="ocrComplete"></div>
			<div class="lightWrap">
				<span class="scanLight"> <img src="imgs/main/scan_light.png" />
				</span>
			</div>
		</div>
	</div>

	<div class="movie_wrap">
		<div class="movie">
			<video id="movie01" width="528" height="297" controls>
				<source src="imgs/skt_ad.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			<a href="javascript:void(0);" class="btn_x"> <img
				src="imgs/main/btn_x.png" alt="close">
			</a>
		</div>
	</div>

	<!-- Memo -->
	<div class="memoOpen_wrap">
		<div class="memoOpen"></div>
	</div>
	<!-- //Memo -->

	<div class="alert_con_wrap">
		<img src="imgs/main/alert.png" alt="">
	</div>

	<div class="customer_con_wrap">
		<img src="imgs/main/customer_display.png" alt="">
	</div>

	<!-- Ukey Map -->
	<div class="ukeymap_wrap">
		<div class="ukeymap"></div>
	</div>
	<!-- //Ukey Map -->



	<!-- Recently Open -->
	<div class="recent_wrap">
		<div class="recent">
			<div class="scroll_wrap" id="testwrap">
				<div class="grid">
					<div class="page p01">
						<img src="imgs/main/recent_01.png" alt="">
					</div>
					<div class="page p02">
						<img src="imgs/main/recent_02.png" alt="">
					</div>
					<div class="page p03">
						<img src="imgs/main/recent_03.png" alt="">
					</div>
					<div class="page p04">
						<img src="imgs/main/recent_04.png" alt="">
					</div>
					<div class="page p05">
						<img src="imgs/main/recent_05.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<a href="javascript:void(0);" class="btn_close"> <img
			src="imgs/main/recent_close.png" alt="">
		</a>
	</div>
	<!-- //Recently Open -->

	<div class="req_sign_wrap">
		<div class="req_sign">
			<div class="btn_close">
				<img src="imgs/main/btn_close.png" />
			</div>
			<div class="btnSet">
				<span> <img class="btn_ok" src="imgs/main/btn_ok.png" />
				</span> <span> <img class="btn_cancel"
					src="imgs/main/btn_cancel.png" />
				</span>
			</div>
		</div>
		<div class="req_sign_02"></div>
		<div class="req_sign_03">
			<div class="btn_close">
				<img src="imgs/main/btn_close.png" />
			</div>
		</div>
	</div>

	<div class="req_sign_wrap_user">
		<div class="req_sign_user">
			<div class="btn_close">
				<img src="imgs/main/btn_close.png" />
			</div>
			<div class="btnSet">
				<span> <img class="btn_ok" src="imgs/main/btn_ok.png" />
				</span> <span> <img class="btn_cancel"
					src="imgs/main/btn_cancel.png" />
				</span>
			</div>
		</div>
	</div>

	<div class="req_card_wrap">
		<div class="req_card">
			<div class="btn_close">
				<img src="imgs/main/btn_close.png" />
			</div>
			<div class="btnSet">
				<span> <img class="btn_ok" src="imgs/main/btn_ok.png" />
				</span> <span> <img class="btn_cancel"
					src="imgs/main/btn_cancel.png" />
				</span>
			</div>
		</div>
		<div class="req_card_02"></div>
		<div class="req_card_03">
			<div class="btn_close">
				<img src="imgs/main/btn_close.png" />
			</div>
		</div>
	</div>

	<div class="req_card_wrap_user">
		<div class="req_card_user">
			<div class="cardList">
				<img src="imgs/main/pop_request_card_list.png" />
			</div>
			<div class="btn_close">
				<img src="imgs/main/btn_close.png" />
			</div>
			<div class="btnSet">
				<span> <img class="btn_ok" src="imgs/main/btn_ok.png" />
				</span> <span> <img class="btn_cancel"
					src="imgs/main/btn_cancel.png" />
				</span>
			</div>
		</div>
	</div>