<div class="logo">
    <img src="imgs/logo.png" />
</div>
<nav>
    <ul class="nav nav-tabs" style="margin-top: 8px;">
        <li>
            <a href="javascript:link('/ukey/container.jsp?url=customer')">고객정보</a>
        </li>
        <li class="active">
            <a href="javascript:link('/ukey/container.jsp?url=contact')">접촉이력</a>
        </li>
    </ul>
</nav>
<!--#include virtual = "/include/main_sysSet.asp"-->
<div class="sysSet">
    <ul class="sysControl">
        <li>
            <a href="javascript:location.reload();">
                <img class="sysReset" src="imgs/main/btn_sysReset.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="sysSpeech" src="imgs/main/btn_sysSpeech.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="sysCustomer" src="imgs/main/btn_sysCustomer.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="sysMovie" src="imgs/main/btn_sysMovie.png" />
            </a>
        </li>
        <li>
            <a href="main_calendar.asp">
                <img class="sysReserv" src="imgs/main/btn_sysReserv.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="sysSystem" src="imgs/main/btn_sysSystem.png" />
            </a>
        </li>
    </ul>
</div>