<div class="logo" >
    <img src="imgs/logo.png" />
</div>
<nav ng-controller="MainController as mainCtrl">
    <ul class="nav nav-tabs" style="margin-top: 8px;">
        <li ng-class="mainCtrl.isSelected('customer.html')">
            <a href="#customer.html" ng-click="mainCtrl.selectMenu(1)">고객정보(C)</a>
        </li>
        <li ng-class="mainCtrl.isSelected('contact.html')">
            <a href="#contact.html" ng-click="mainCtrl.selectMenu(2)">접촉이력(C)</a>
        </li>
        <li >
            <a href="/ukey/container.jsp?url=customer">Tworld</a>
        </li>
        <li >
            <a href="/ukey/customer">Server</a>
        </li>
    </ul>
</nav>
<div class="sysSet">
    <ul class="sysControl">
        <li>
            <a href="javascript:location.reload();">
                <img class="sysReset" src="imgs/main/btn_sysReset.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="sysSpeech" src="imgs/main/btn_sysSpeech.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="sysCustomer" src="imgs/main/btn_sysCustomer.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="sysMovie" src="imgs/main/btn_sysMovie.png" />
            </a>
        </li>
        <li>
            <a href="main_calendar.asp">
                <img class="sysReserv" src="imgs/main/btn_sysReserv.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="sysSystem" src="imgs/main/btn_sysSystem.png" />
            </a>
        </li>
    </ul>
</div>