<fieldset>
	<legend>검색폼</legend>
	<input type="text" class="searchInput" name="searchText"
		value="Go to a contents"
		onBlur="if(this.value=='')this.value='Go to a contents'"
		onFocus="if(this.value=='Go to a contents')this.value='' "> <input
		type="image" class="searchBtn" src="imgs/main/btn_keyboard.png" alt=""
		title="검색">
</fieldset>
<div class="autoComp">
	<img src="imgs/main/auto_complete.png" />
</div>
<span> <img src="imgs/main/btn_searchGo.png" /> <img
	src="imgs/main/search_justLeft.png" />
</span>
