<div ng-controller="PersonController as person" ng-init="person.init()">
	<div class="panel panel-primary">
		<div class="panel-heading">예금 계좌 조회</div>
		<div class="panel-body" ng-repeat="account in person.accountList">
			<div class="row">
				<div class="col-xs-6">
					<span>{{account.accountNumber}}</span>
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-link">거래내역</button>
						<button type="button" class="btn btn-link" ng-click="person.transfer(account)">이 체</button>
						<button type="button" class="btn btn-link">상세보기</button>
					</div>
				</div>
				<div class="col-xs-6">
					<span class="pull-right">{{account.aliasName}}</span><br> <span
						class="pull-right">{{account.balance | currency :'￦ ': 0
						}}원</span>
				</div>
			</div>
			<div class="row center-block">
				<div
					style="height: 1px; background-color: #BBBBBB; margin-bottom: 20px"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<div class="thumbnail" style="background-color: #DDDDDD">
				<img src="img/loan.png" alt="..." style="height: 150px"
					class="img-circle">
				<div class="caption">
					<h4 class="text-center">대출</h4>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="thumbnail" style="background-color: #DDDDDD">
				<img src="img/bill.png" alt="..." style="height: 150px"
					class="img-circle">
				<div class="caption">
					<h4 class="text-center">공과금</h4>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="thumbnail" style="background-color: #DDDDDD">
				<img src="img/fund.png" alt="..." style="height: 150px"
					class="img-circle">
				<div class="caption">
					<h4 class="text-center">편드 상품</h4>
				</div>
			</div>
		</div>
	</div>
	<table class="table table-hover">
		<tr>
			<td><span class="label label-primary">새소식</span></td>
			<td>스마트OTP발급 시행<a href="#" class="pull-right">좋아요&nbsp;<span
					class="badge">42</span></a></td>
		</tr>
		<tr>
			<td><span class="label label-primary">새소식</span></td>
			<td>USIM 공인인증 시행<a href="#" class="pull-right">좋아요&nbsp;<span
					class="badge">100+</span></a></td>
		</tr>
		<tr>
			<td><span class="label label-primary">새소식</span></td>
			<td>상반기 채용 공고<a href="#" class="pull-right">좋아요&nbsp;<span
					class="badge">42</span></a></td>
		</tr>
		<tr>
			<td><span class="label label-warning">이벤트</span></td>
			<td>이제 지점 방문 없이 계좌 개설 하세요<a href="#" class="pull-right">좋아요&nbsp;<span
					class="badge">42</span></a></td>
		</tr>
		<tr>
			<td />
			<td />
		</tr>
	</table>

</div>