<!-- 송금 준비 -->
<div class="panel panel-primary"
	ng-controller="TransferController as transfer"
	ng-init="transfer.init()">
	<div class="panel-heading">이체/송금 서비스</div>
	<div class="panel-body">
		<div class="alert alert-info" role="alert">모바일 간편이체시 수수료가
			면제(~2015.12.31)</div>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="source" class="col-xs-2 control-label">출금계좌</label>
				<div class="col-xs-10">
					<select class="form-control" id="source"
						ng-model="transfer.sourceAccount" name="name"
						ng-options="account.accountNumber for account in transfer.accountList">

					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-xs-2 control-label">비밀번호</label>
				<div class="col-xs-10">
					<input type="password" class="form-control" id="password"
						placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<label for="amount" class="col-xs-2 control-label">이체금액</label>
				<div class="col-xs-10">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="amount"
							ng-model="transfer.amount| currency : '￦' :0"><span class="input-group-addon">원</span>
					</div>
					<div class="btn-group btn-group-justified " role="group"
						aria-label="...">
						<div class="btn-group " role="group">
							<button type="button" class="btn btn-link" ng-click="transfer.amount=transfer.amount+1000000">+100만원</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-link" ng-click="transfer.amount=transfer.amount+500000">+50만원</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-link" ng-click="transfer.amount=transfer.amount+100000">+10만원</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-link" ng-click="transfer.amount=transfer.amount+50000">+5만원</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-link" ng-click="transfer.amount=transfer.amount+10000">+1만원</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-link" ng-click="transfer.amount=0">초기화</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<p class="text-center" style="margin-bottom: 0px">
					<span class="glyphicon glyphicon-chevron-down text-center"
						aria-hidden="true"></span>
				</p>
			</div>

			<div class="form-group">
				<label for="target" class="col-xs-2 control-label">입금계좌</label>
				<div class="col-xs-10">
					<div class="input-group">
						<div class="input-group-btn">
							<button type="button" class="btn btn-primary dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								{{transfer.targetBank}} &nbsp;<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li> <a href="" ng-click="transfer.targetBank='행복은행'">행복은행</a></li>
								<li><a href=""  ng-click="transfer.targetBank='부자은행'">부자은행</a></li>
								<li><a href="" ng-click="transfer.targetBank='웰빙은행'">웰빙은행</a></li>
								<li><a href="" ng-click="transfer.targetBank='웰스파고은행'">웰스파고은행</a></li>
							</ul>
						</div>
						<input type="text" class="form-control" aria-label="..." placeholder="344-00987-3412">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12">
					<div style="height: 1px; background-color: #BBBBBB"></div>
				</div>
			</div>
			<div class="form-group">
				<label for="target" class="col-xs-2 control-label">휴대전화</label>
				<div class="col-xs-10">
					<div class="input-group">
						<input type="text" class="form-control" id="target"
							value="{{transfer.phoneNumber}}"> <span
							class="input-group-btn">
							<button class="btn btn-default" type="button">번호변경</button>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-10">
					<div class="btn-group btn-group-justified " role="group"
						aria-label="...">
						<div class="btn-group " role="group">
							<button type="button" class="btn btn-default">취소</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default">이체</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-primary"
								id="simpleTransfer2" data-toggle="modal"
								data-target="#transferModal">간편이체</button>
						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal fade" id="transferModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">이체 실행</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" role="alert">
						<p>홍길동님의 XX은행 Xxxx-OOOOOO_XXXXX 50만원 이체 처리 합니다.</p>
						<p>휴대폰에 공인인증서 암호를 입력해주세요</p>
					</div>
					<div class="center-block">
						<div id="countdown"></div>
					</div>
					<input type="text" class="form-control text-center" id="otp"
						placeholder="OTP 번호">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary">이체</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>
<script>
	var note = $('#note'), ts = new Date(2012, 0, 1), newYear = true;

	if ((new Date()) > ts) {
		// The new year is here! Count towards something else.
		// Notice the *1000 at the end - time must be in milliseconds
		ts = (new Date()).getTime() + 5 * 60 * 1000;
		newYear = false;
	}

	$('#countdown').countdown({
		timestamp : ts,
		callback : function(days, hours, minutes, seconds) {

		}
	});
</script>