/** 
 * dropdownkit-site.css
 * > generic styles for Dropdown Kit plugin website presentation
 */

/*---------------------------------
 *  Site structure
 *---------------------------------*/
body{margin:0;padding:0 0 60px;text-align:center;font-family:'Open Sans', Arial, Verdana, sans-serif;font-size:10pt;color:#333;}
.spacer{clear:both;}
img{border:none;}
.inner{width:850px;margin:0 auto;text-align:left;position:relative;}

#sitenav{background:#333;text-align:left;}
#sitenav .inner *{display:inline-block;margin:0 10px 0 0;padding:8px 15px;color:#fff;}
#sitenav .selected{background:#72a024;}

#header{background-color:#8ec50c;background:-moz-linear-gradient(top, #72a024/*cd0082*/ 0%, #8ec50c/*da1e95*/ 100%);background:-webkit-gradient(linear, left top, left bottom, from(#72a024), to(#8ec50c));}
#header .inner{padding:30px 0;}

#header #header-left{float:left;}
#header #header-middle{float:left;padding:10px 50px;}
#header #header-right{float:right;}

#header-title{font-size:3.6em;font-weight:400;text-shadow:0 1px 0 #666;}
#header-title,
#header-title a{color:#fff;font-family:Verdana, sans-serif;text-decoration:none;}
#header-title a:hover{text-decoration:underline;}
body.demo #header-title{font-size:1.6em;}
#header-description{margin:0;padding:5px 0 0;font-size:1.3em;color:#fff;text-shadow:0 1px 0 #666;}

.download{
	display:block;line-height:0.9em;width:150px;text-align:center;
	margin:10px 0 0;padding:10px 20px;
	color:#fff;font-size:1.2em;text-decoration:none;text-shadow:0 -1px 0 #333;
	-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #72a024;
	background:#72a024;background:-moz-linear-gradient(top, #8ec50c 0%, #72a024 100%);background:-webkit-gradient(linear, left top, left bottom, from(#8ec50c), to(#72a024));
}
.download:hover{color:#fff;text-decoration:none;background:#72a024;background:-moz-linear-gradient(top, #72a024 0%, #8ec50c 100%);background:-webkit-gradient(linear, left top, left bottom, from(#72a024), to(#8ec50c));}
.download small{color:#ddd;font-size:0.7em;display:block}

#header-lang{margin:0;text-align:right}
#header-lang li{display:inline;color:#3c0033;}
#header-lang li a{color:#fff;}

#page{padding:15px 0 0;border:1px solid #FFFFFF;}
#content{width:570px;}

.layout-1col #content{float:none;}
.layout-1col #content.wide{width:auto;}

#donate{margin:5px 0 20px 0;padding:15px;text-align:center;background:#f2f1f1;-moz-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff;}
#donate p{float:left;margin:5px 10px 0;}
#donate form{float:left;}

/*---------------------------------
 *  Default tags
 *---------------------------------*/
a{color:blue;text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{color:orangeRed}
a:focus{}
a:visited{}

h1{font-size:2.6em;margin:50px 0 15px;font-weight:400;}
h1.codex-first,
h1#Presentation{margin-top:0;}
h2{font-size:2em;margin:30px 0 15px;font-weight:400;}
h3{font-size:1.4em;margin:20px 0 10px;/*font-variant:small-caps;*/font-weight:400;}
h4{font-size:1em;margin:20px 0 7px;font-weight:bold;}
h5{font-size:0.9em;margin:0 0 7px;font-weight:bold;}

ul{margin:0 0 10px 0;padding:0;list-style:circle inside none;}
.section ul{margin:10px 0 10px 15px;}
ul li{margin:0 0 5px;}
p{margin:0 0 5px;}
/*h4+p,
h4+p+p{margin-bottom:5px;}*/

table{width:100%;border:1px solid #eee;border-collapse:collapse;}
table th,
table td{padding:5px;border:1px solid #eee;}
table th{font-weight:bold;background:#ddd;}
table td{}

.noscript{margin:10px 0 15px;padding:10px;color:#fff;background:red;}
/*.noscript .codex-sitename{background:none;}*/

/*---------------------------------
 *  Code formatting
 *---------------------------------*/
.codex-details{display:none;}
.codex-pre{margin:10px 0 15px;padding:10px;overflow:auto;overflow-y:hidden;color:#333;border-left:3px solid #6ce26c;background:#F2F1F1;}
.codex-block{margin:0 0 15px;}
.codex-notes{margin:10px 0 15px;padding:10px;color:#000;border:1px solid #ccc;background:#ffffec;}
.codex-notes h4{margin-top:0;}
.codex-setting{color:#0857b8;font-weight:bold;font-style:normal;}
.codex-value{color:green;font-weight:bold;font-style:normal;}
.codex-classname{color:#990066;font-style:normal;}
.codex-filename{color:#af5f00;font-style:normal;}
.codex-comment{color:green;font-style:normal;}
.codex-togglebtn{display:block;}
.codex-sitename{/*color:#000;background:#F2F1F1;*/}
.codex-lowlight{color:#999;}
.codex-error{color:red;}
.codex-depreciated{color:red;padding:0 0 0 5px;}

/*---------------------------------
 *  Settings list
 *---------------------------------*/
.setting-type{color:#666;}
.setting-value em{color:#005b7d;font-style:normal;}

/*---------------------------------
 *  Super TOC!
 *---------------------------------*/
.supertoc{position:absolute;top:0;right:0;width:200px;margin:0 0 30px;padding:0 10px 10px;text-align:left;background:#eee;-moz-border-radius:7px;-webkit-border-radius:7px;border:1px solid #ddd;}
.supertoc ul{list-style:disc outside none;}
.supertoc ul li{padding:0px;}
.supertoc ul .toc-h1{margin:10px 0 3px;list-style:none;}
.supertoc ul .toc-h2{list-style:circle;margin:7px 0 0 20px;}
.supertoc ul .toc-h3{list-style:square;margin:0 0 0 35px;}
.supertoc ul a:hover{text-decoration:underline;}

/*---------------------------------
 *  UItoTop jQuery Plugin 1.1
 *  http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
 *---------------------------------*/
#toTop{display:none;text-decoration:none;position:fixed;bottom:10px;right:10px;overflow:hidden;width:51px;height:51px;border:none;text-indent:-999px;background:transparent url("../images/ui.totop.png") no-repeat left top;}
#toTopHover{width:51px;height:51px;display:block;overflow:hidden;float:left;cursor:pointer;opacity:0;-moz-opacity:0;filter:alpha(opacity=0);background:transparent url("../images/ui.totop.png") no-repeat left -51px;}
